// Variables para todo el proyecto

//Colores Basicos
$primary-bgcolor: #fdfaf6;
$secondary-bgcolor: #cbb769;
$tertiary-bgcolor: #002346;
$quaternary-bgcolor: #002346;
$gradiante-card-bgcolor1: #1e0882;
$gradiante-card-bgcolor2: #b4ccdc;
$bot-book-bgcolor: #b1a6a6;

//Color de Botones
$btn-search-bgcolor: #963d56dd; /*5c7ee6*/
$btn-header-hover-bgcolor: #a20b36dd;
$btn-book-bgcolor1: #1c3567;
$btn-book-bgcolor2: #5d74a7;
$btn-up-down-bgcolor: #55a1ff;
$btn-up-down-bgcolor2: #9c320be4;


// Color de Texto
$texto-nav-color: #efecdd;
$precio-color: #1cdc6f;
$footer-color: #f6eeeb;


//Tipografia
$font-family: "Cinzel", serif; 
$font-size-base: 1rem; // 16px